.container-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(61, 61, 61, 0.48);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    width: 610px;
    background: #FFFFFF;
    border-radius: 20px;
}

.header-modal {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 64px;
    position: relative;
    width: 485px;
}

.header-modal img {
    position: absolute;
    bottom: 6px;
    right: 5px;
    cursor: pointer;
}

.modal input,
select {
    width: 485px;
    height: 63px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #555555;
    font-size: 18px;
    padding-left: 24px;
    margin: 8.5px 0 26px 0;
}

.modal label {
    font-weight: 500;
    font-size: 24px;
    color: #484848;
}

.options-values {
    margin: 52px 0 38px 0;
    display: flex;
}

.options-values section {
    width: 245px;
    height: 60px;
    border-radius: 10px 5px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

.options-values section:hover {
    opacity: 0.9;
}

.option-entry {
    background: #3A9FF1;
}

.option {
    background: #B9B9B9;
}

.option-exit {
    background: #FF576B;
}

.button-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal button {
    all: unset;
    background: #7978D9;
    border-radius: 5px;
    width: 236px;
    height: 46px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.modal button:hover {
    opacity: 0.9;
}